## Import Packages

In [1]:
import piecash as pc
from piecash import Transaction, ledger, Split
from piecash.core.factories import single_transaction

In [2]:
# !pip install --upgrade pandas

## Read Gnucash file & Create Fast Food Expense

In [11]:
with pc.open_book(uri_conn="postgres://postgres@localhost/gnucash-backup",
    readonly=False,
    do_backup=False) as book:
    # Create a Food Expense
    bank_acc = book.accounts(name='BBK')
    food_expense_acc = book.accounts(name='Fast Food')
    txn = single_transaction(
        # post_date, enter_date, description, value, from_account, to_account
        None, None, 'Random Burger', 10, bank_acc, food_expense_acc
    )
    print(ledger(txn))
    book.save()

[Commodity<CURRENCY:BHD>, Commodity<Coupons:water-coupon>, Commodity<Crypto:ETH-USD>, Commodity<template:template>, Commodity<CURRENCY:USD>]
[Account<Incomes[BHD]>, Account<Incomes:Salary[BHD]>, Account<Equity[BHD]>, Account<Equity:Opening Balances - BHD[BHD]>, Account<Imbalance-BHD[BHD]>, Account<Orphan-BHD[BHD]>, Account<Liabilities[BHD]>, Account<Liabilities:Coldstore Credit[BHD]>, Account<Liabilities:Mastercard[BHD]>, Account<Asset[BHD]>, Account<Asset:Current Assets[BHD]>, Account<Asset:Current Assets:Cash[BHD]>, Account<Asset:Current Assets:Receivables[BHD]>, Account<Asset:Current Assets:Receivables:Brother[BHD]>, Account<Asset:Current Assets:Receivables:Chloe[BHD]>, Account<Asset:Current Assets:Receivables:Work Receivable[BHD]>, Account<Asset:Current Assets:Receivables:Mustafa Kamal[BHD]>, Account<Asset:Current Assets:BisB[BHD]>, Account<Asset:Current Assets:BBK[BHD]>, Account<Asset:Current Assets:Other[BHD]>, Account<Asset:Current Assets:Other:Water Coupons[water-coupon]>, Account<Asset:Investments[BHD]>, Account<Asset:Investments:Ethereum[ETH-USD]>, Account<Asset:Investments:Unrealized Gains[BHD]>, Account<Expenses[BHD]>, Account<Expenses:Unrealized Loss[BHD]>, Account<Expenses:Wants[BHD]>, Account<Expenses:Wants:Subscription | Google One[BHD]>, Account<Expenses:Wants:Fast Food[BHD]>, Account<Expenses:Needs[BHD]>, Account<Expenses:Needs:Car Expenses[BHD]>, Account<Expenses:Needs:Car Expenses:Petrol[BHD]>, Account<Expenses:Needs:Car Expenses:Wash[BHD]>, Account<Expenses:Needs:MOJ Allowance[BHD]>, Account<Expenses:Needs:Groceries[BHD]>, Account<Expenses:Needs:Phone[BHD]>, Account<Expenses:Needs:Gym[BHD]>, Account<Expenses:Needs:Medical[BHD]>, Account<0dfc25d3ae0d424aae87eee4c301e8fc[template]>]
2022-10-22 Random Burger
	Asset:Current Assets:BBK                  BHD -10.000
	Expenses:Wants:Fast Food                  BHD 10.000

## Check if Book Works

In [3]:
with pc.open_book("sqlite:///sqlversion.gnucash") as book:
    root = book.root_account              # select the root_account
    expense = root.children(type="EXPENSE")   # select child account by name
    print(expense.children(name='Wants'))

Account<Expenses:Wants[BHD]>

In [8]:
from pandas import read_sql_query, read_sql_table
import pandas as pd
import sqlite3
def read_tables(dbfile):
    
    

    with sqlite3.connect(dbfile) as dbcon:
        tables = list(read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", dbcon)['name'])
    
        # out = {tbl : read_sql_query(f"SELECT * from {tbl}", dbcon) for tbl in tables}
    
    return tables
DB = 'sqlversion.gnucash'
read_tables(DB)

['gnclock',
 'versions',
 'books',
 'commodities',
 'accounts',
 'budgets',
 'budget_amounts',
 'sqlite_sequence',
 'prices',
 'transactions',
 'splits',
 'slots',
 'recurrences',
 'schedxactions',
 'lots',
 'billterms',
 'customers',
 'employees',
 'entries',
 'invoices',
 'jobs',
 'orders',
 'taxtables',
 'taxtable_entries',
 'vendors']

In [13]:
def read_table(table):
    with sqlite3.connect(DB) as dbcon:
        # tbl = read_sql_table(table, dbcon)
        df = pd.read_sql(f"select * from {table}", con=dbcon)
    return df

read_table('transactions')

,guid,currency_guid,num,post_date,enter_date,description
0,63222ad21c57431ea03e6d1ed9c4144e,b7f57e3e7a5e474cac6ee899af7858b3,,2022-10-12 10:59:00,2022-10-11 13:13:09,September 2022 Salary
1,959183da8ee64f1b8808ddde1bd839d2,b7f57e3e7a5e474cac6ee899af7858b3,,2022-11-09 10:59:00,2022-11-09 11:49:30,October 2022 Salary
2,c541fb04449f43aba118e30f9d9f6170,b7f57e3e7a5e474cac6ee899af7858b3,,2022-12-11 10:59:00,2022-12-12 09:51:55,November 2022 Salary
3,56fecca4d1814f64b5e630adeea12cf8,b7f57e3e7a5e474cac6ee899af7858b3,,2023-01-11 10:59:00,2023-01-11 09:17:16,December 2022 Salary
4,af96c4ef3b3d47d1a1ae41f6fd401d00,b7f57e3e7a5e474cac6ee899af7858b3,6,2022-10-12 10:59:00,2022-10-13 12:05:58,Healty Calorie
...,...,...,...,...,...,...
556,06f2b08b5cff4aeeaf4fe0b2dc3bc4e1,b7f57e3e7a5e474cac6ee899af7858b3,,2023-01-11 10:59:00,2023-01-14 21:20:24,Fawri Transfer
557,6770e1600b3444898b369dd165a8041d,b7f57e3e7a5e474cac6ee899af7858b3,,2023-01-12 10:59:00,2023-01-14 21:21:40,Fawri Transfer
558,f3af146329ea4acc8bed112d2a230e3b,b7f57e3e7a5e474cac6ee899af7858b3,,2022-10-18 10:59:00,2022-10-20 12:59:56,Ila Topup
559,71b93545e5df4d6d8409d8199f22ac55,b7f57e3e7a5e474cac6ee899af7858b3,,2022-10-22 10:59:00,2022-10-22 14:16:34,Mastercard Payment via BFC
560,7c6ef7191888442393f5d5e316581ca3,b7f57e3e7a5e474cac6ee899af7858b3,,2022-10-12 10:59:00,2022-10-11 22:01:16,Allowance Transfer

In [39]:
read_sql_table('entries', f'sqlite:///{DB}')

AttributeError: 'Inspector' object has no attribute 'has_table'